
.row
    .col-md-6
        .panel.panel-default
            .panel-heading
                h2
                    strong Edit
                    h2 Group
            .panel-body
                form.form-horizontal(name="editGorupForm")
                    .form-group
                        label.col-md-2.control-label(for="name") Name
                        .col-md-10
                            input.form-control(name="name", type="text", placeholder="name", ng-model="name", required)


                    .form-group
                        label.col-md-2.control-label Active
                        .col-md-10
                            .checkbox
                                input(type="checkbox", id="active", name="active", value="active",ng-model="active")



                    .form-group
                        .col-md-10.col-md-offset-2
                            .pull-right
                                button.btn.btn-primary(ng-click="update(role)", ng-disabled="editGorupForm.$invalid") Submit
                                | &nbsp;
                                a.btn.btn-default(href="/groups") Cancel

        .panel.panel-default
            .panel-heading
                h2
                    strong Group
                    h2 Members
            .pull-right
                form.form-inline
                    .form-group
                        input.form-control(ng-model="searchText", placeholder="Filter")
                    .form-group.margin-left-med
                        select.form-control(ng-model="sortOrder", ng-options="item.value as item.text for item in sortOptions")
            .panel-body
                table.table.table-hover.table-striped.table-condesed
                    thead
                        tr
                            th Name
                    tbody
                        tr(ng-repeat="member in group.members | filter:searchText")
                            td {{member}}




