


//button.btn.btn-primary(ng-click="testTransport()") Test
ul.nav.nav-tabs(role="tablist")
    li.active
        a(href="/") Võtan peale

    li
        a(href="/wishes") Tahan peale




.panel.panel-default

    .pull-right
        form.form-inline
            .form-group
                input.form-control(ng-model="searchText", placeholder="Filter")


    .panel-body

            table.table.table-hover.table-condesed
                thead
                    tr

                        th.sorting(ng-click="sort_by('username')") Kasutaja
                        th Staatus

                        th.sorting(ng-click="predicate = 'startTime'; reverse=!reverse") Väljumine
                        th.sorting(ng-click="predicate = 'seatPlaces'; reverse=!reverse") Vabu kohti
                        th.sorting(ng-click="sort_by('aDirection')") Lähtekoht
                        th.sorting(ng-click="sort_by('aDirection')") Sihtkoht
                        th Aeg *

                        th Vaata
                tbody
                    tr(ng-repeat="transport in customfiltered = (transports| filter:searchText) | startFrom:(bigCurrentPage-1)*itemsPerPage | limitTo:itemsPerPage | orderBy:predicate:reverse" ,ng-click="get(transport.filename)",class="{{selected}}")
                            td {{transport.username}}
                            td
                                span.label.label-default(ng-show="transport.canceled") Tühistatud
                                span.label.label-success(ng-show="!transport.canceled") Atkiivne

                            td {{test(transport.startTime)}}
                                span.small  {{transport.startTime | date:'yyyy-MM-dd'}}
                            td {{transport.seatCount}}
                            td {{transport.aDirection}}
                            td {{transport.bDirection}}
                            td {{transport.duration}}

                            td
                                a.btn.btn-success(href="/taking/{{transport._id}}")
                                    i.fa.fa-search-plus

        pagination(total-items="customfiltered.length",items-per-page="itemsPerPage", page="bigCurrentPage", max-size="maxSize", class="pagination-sm", boundary-links="true", rotate="false", num-pages="numPages",first-text="Esimene",last-text="Viimane",previous-text="Eelmine",next-text="Järgmine")

