.alert(ng-show="identity.isAuthenticated()")
    .alert-danger(ng-hide="identity.currentUser.active")
        strong Teavitus!
        span    Teile on saadetud kinnituskiri aadressile {{identity.currentUser.email}}. Palun kinnitage oma postkasti õigsust!



//button.btn.btn-primary(ng-click="testTransport()") Test
ul.nav.nav-tabs(role="tablist")
    li.active

        a(href="/") Võtan peale

    li
        a(href="/wishes") Soovin peale




.panel.panel-default

    .pull-right
        form.form-inline
            .form-group
                input.form-control(ng-model="searchText", placeholder="Filter")


    .panel-body

            table.table.table-hover.table-condesed
                thead
                    tr
                        th Vaata
                        th.sorting(ng-click="sort_by('username')") Kasutaja
                        th Staatus

                        th.sorting(ng-click="predicate = 'startTime'; reverse=!reverse") Väljumine
                        th Hind
                        th.sorting(ng-click="predicate = 'seatPlaces'; reverse=!reverse") Vabu kohti
                        th Kauba/Pakivedu
                        th.sorting(ng-click="sort_by('aDirection')") Lähtekoht
                        th.sorting(ng-click="sort_by('aDirection')") Sihtkoht
                        th Aeg *


                tbody
                    tr(ng-repeat="transport in customfiltered = (transports| filter:searchText) | startFrom:(bigCurrentPage-1)*itemsPerPage | limitTo:itemsPerPage | orderBy:predicate:reverse" ,ng-click="get(transport.filename)",class="{{selected}}")
                            td
                                a.btn-sm.btn-success(href="/taking/{{transport._id}}")
                                    i.fa.fa-search-plus
                            td
                                strong
                                    a(href="/rating/{{transport.username}}") {{transport.username}}
                            td
                                span.label.label-warning(ng-show="transport.canceled") Lõpetatud
                                span.label.label-success(ng-show="!transport.canceled") Atkiivne

                            td {{test(transport.startTime)}}
                                span.small  {{transport.startTime | date:'yyyy-MM-dd'}}

                            td {{transport.price}}
                            td
                                span.label.label-primary {{transport.seatCount}}
                            td
                                span(ng-show="transport.package")
                                    i.fa.fa-truck
                                    i.fa.fa-dropbox


                            td {{transport.aDirection}}
                            td {{transport.bDirection}}
                            td {{transport.duration}}



        pagination(total-items="customfiltered.length",items-per-page="itemsPerPage", page="bigCurrentPage", max-size="maxSize", class="pagination-sm", boundary-links="true", rotate="false", num-pages="numPages",first-text="Esimene",last-text="Viimane",previous-text="Eelmine",next-text="Järgmine")

