


button.btn.btn-primary(ng-click="testTransport()") Test

.panel.panel-default
    .panel-heading
        h2
            strong Table
    .pull-right
        form.form-inline
            .form-group
                input.form-control(ng-model="searchText", placeholder="Filter")
            .form-group.margin-left-med
                select.form-control(ng-model="sortOrder", ng-options="item.value as item.text for item in sortOptions")
    .panel-body
            table.table.table-hover.table-condesed
                thead
                    tr
                        th Vaata
                        th.sorting(ng-click="sort_by('username')") Kasutaja
                        th.sorting(ng-click="predicate = 'startTime'; reverse=!reverse") Väljumine
                        th.sorting(ng-click="predicate = 'seatPlaces'; reverse=!reverse") Reisikaaslased
                        th.sorting(ng-click="sort_by('aDirection')") Lähtekoht
                        th.sorting(ng-click="sort_by('aDirection')") Sihtkoht
                        th Aeg *
                tbody
                    tr(ng-repeat="transport in customfiltered = (transports| filter:searchText) | startFrom:(bigCurrentPage-1)*itemsPerPage | limitTo:itemsPerPage | orderBy:predicate:reverse" ,ng-click="get(transport.filename)",class="{{selected}}")
                        td
                            a.btn.btn-success(href="/taking/{{transport._id}}")
                                i.fa.fa-search-plus
                        td {{transport.username}}
                        td {{transport.startTime | date:'yyyy-MM-dd HH:mm:ss'}}
                        td {{transport.registredPassengers.length}} / {{transport.seatPlace}}
                        td {{transport.aDirection}}
                        td {{transport.bDirection}}
                        td {{transport.duration}}


        pagination(total-items="customfiltered.length",items-per-page="itemsPerPage", page="bigCurrentPage", max-size="maxSize", class="pagination-sm", boundary-links="true", rotate="false", num-pages="numPages")

