.alert(ng-hide="identity.isAuthenticated()")
    .alert-warning
        strong Teavitus!
        span    Kogu info vaatamiseks peate olema sisselogitud!
.row
    .col-md-6
        .panel.panel-default
            .panel-heading
                h2
                    strong Andmed
            .panel-body
            form.form-horizontal(name="editUserForm")
                table.table

                    tbody
                        tr
                            td Võtab peale
                            td

                                strong
                                    a(href="/rating/{{username}}") {{username}}


                        tr
                            td Väljumine
                            td {{startTime | date:'yyyy-MM-dd HH:mm:ss'}}
                        tr
                            td A suund
                            td {{aDirection}}
                        tr
                            td B suund
                            td {{bDirection}}
                        tr
                            td Vabu kohti
                            td {{seatCount}}
                        tr(ng-show="identity.isAuthenticated()")
                            td Reisijad
                            td
                                p(ng-repeat="pass in registredPassengers") {{pass.name }}  {{pass.date | date:'yyyy-MM-dd HH:mm:ss'}}
                                    btn.btn.btn-warning(ng-click="canceledByPassenger(pass._id)",ng-show="isPassenger(pass.name,pass.canceledByPassenger,pass.canceledByOwner)") Tühista
                                    btn.btn.btn-danger(ng-click="canceledByOwner(pass._id)",ng-show="isOwner(username,pass.canceledByOwner,pass.canceledByPassenger)") Tühista
                                    span.label.label-default(ng-show="pass.canceledByPassenger") Tühistatud reisija poolt
                                    span.label.label-default(ng-show="pass.canceledByOwner") Tühistatud pealevõtja poolt



                        tr(ng-show="identity.isAuthenticated()")
                            td Lisainfo {{teen}}
                            td {{info}}

                        tr
                            td
                            td
                                button.btn.btn-primary(ng-click="update(taking)", ng-disabled="editUserForm.$invalid",ng-hide="isOwnerOrFull()",ng-show="identity.isAuthenticated()") Kinnita
                                | &nbsp;
                                a.btn.btn-default(href="/") Tagasi
