.alert(ng-hide="identity.isAuthenticated()")
    .alert-warning
        strong Teavitus!
        span    Kogu info vaatamiseks peate olema sisselogitud!
.row
    .col-md-7
        .panel.panel-default
            .panel-heading

                h1 {{aDirection}} > {{Direction}}
                strong {{test(startTime)}}



            .panel-body

                .col-md-4
                    h3 Võtab peale

                .col-md-6
                    h3
                        a(href="/rating/{{username}}") {{username}}


                .col-md-4
                    h3 Vabu kohti
                .col-md-6
                    h3 {{seatCount}}
                .col-md-4(ng-show="identity.isAuthenticated()")
                    h3 Lisainfo
                .col-md-6(ng-show="identity.isAuthenticated()")
                    h3 {{info}}
                .col-md-10(ng-show="identity.isAuthenticated()")
                    h3
                        strong Reisijad
                .col-md-10(ng-repeat="pass in registredPassengers",ng-show="identity.isAuthenticated()")
                    .col-md-1
                        a(href="/rating/{{pass.name}}") {{pass.name }}
                    .col-md-4
                        span {{pass.date | date:'yyyy-MM-dd HH:mm:ss'}}
                    .col-md-2(ng-show="isPassenger(pass.name,pass.canceledByPassenger,pass.canceledByOwner)")
                        btn.btn-sm.btn-warning(ng-click="canceledByPassenger(pass._id)") Tühista
                    .col-md-2(ng-show="isOwner(username,pass.canceledByOwner,pass.canceledByPassenger)")
                        btn.btn-sm.btn-danger(ng-click="canceledByOwner(pass._id)") Tühista

                    .col-md-2(ng-show="pass.canceledByPassenger")
                        span.label.label-default Tühistatud reisija poolt
                    .col-md-2(ng-show="pass.canceledByOwner")
                        span.label.label-default Tühistatud pealevõtja poolt
                    .col-md-5(ng-hide="pass.ratedByPassaneger")

                            a.btn-sm.btn-danger(href="/rating/{{username}}/{{pass._id}}",ng-show="ifOwner(pass.name)")
                                i.fa.fa-star-o  Kommenteeri reisi

                    .col-md-10(ng-show="ifOwner(pass.name)")
                        span {{username}} mobiili number on: {{mobile}}
                    div(ng-hide="pass.rated")
                        a.btn-sm.btn-success(href="/rating/{{pass.name}}/{{pass._id}}",ng-show="ifOwner(username)")
                            i.fa.fa-star-o  Jäta kommentaar reisijast



            .panel-footer


                                    button.btn.btn-primary(ng-click="update(taking)", ng-disabled="editUserForm.$invalid",ng-hide="isOwnerOrFull()") Kinnita
                                    | &nbsp;
                                    a.btn.btn-default(href="/") Tagasi
