.alert(ng-hide="identity.isAuthenticated()")
    .alert-warning
        strong Teavitus!
        span    Kogu info vaatamiseks peate olema sisselogitud!
.row
    .col-md-6
        .panel.panel-default
            .panel-heading

                h1 {{aDirection}} - {{bDirection}}
                strong {{test(startTime)}}



            .panel-body

                .col-md-4
                    h3 Võtab peale

                .col-md-6
                    h3
                        a(href="/rating/{{username}}") {{username}}


                .col-md-4
                    h3 Vabu kohti
                .col-md-6
                    h3 {{seatCount}}
                .col-md-4(ng-show="identity.isAuthenticated()")
                    h3 Lisainfo
                .col-md-6(ng-show="identity.isAuthenticated()")
                    h3 {{info}}
                .col-md-10(ng-show="identity.isAuthenticated()")
                    h3
                        strong Reisijad
                .col-md-10(ng-repeat="pass in registredPassengers",ng-show="identity.isAuthenticated()")
                    a(href="/rating/{{pass.name}}") {{pass.name }}
                    span {{pass.date | date:'yyyy-MM-dd HH:mm:ss'}}

                    btn.btn-sm.btn-warning(ng-click="canceledByPassenger(pass._id)",ng-show="isPassenger(pass.name,pass.canceledByPassenger,pass.canceledByOwner)") Tühista
                    btn.btn-sm.btn-danger(ng-click="canceledByOwner(pass._id)",ng-show="isOwner(username,pass.canceledByOwner,pass.canceledByPassenger)") Tühista
                    span.label.label-default(ng-show="pass.canceledByPassenger") Tühistatud reisija poolt
                    span.label.label-default(ng-show="pass.canceledByOwner") Tühistatud pealevõtja poolt
                    div(ng-hide="pass.ratedByPassaneger")
                        a.btn-sm.btn-danger(href="/rating/{{username}}/{{pass._id}}",ng-show="ifOwner(pass.name)")
                            i.fa.fa-star-o  Kommenteeri reisi
                    div(ng-hide="pass.rated")
                        a.btn-sm.btn-success(href="/rating/{{pass.name}}/{{pass._id}}",ng-show="ifOwner(username)")
                            i.fa.fa-star-o  Jäta kommentaar reisijast



            .panel-footer


                                    button.btn.btn-primary(ng-click="update(taking)", ng-disabled="editUserForm.$invalid",ng-hide="isOwnerOrFull()") Kinnita
                                    | &nbsp;
                                    a.btn.btn-default(href="/") Tagasi
