li.dropdown(ng-show="identity.isAuthenticated()")
    a.dropdown-toggle.avatar(href="/#", data-toggle="dropdown")
        img(src="../../avatar/{{identity.currentUser.username}}.jpg")

    ul.dropdown-menu
        li.dropdown-menu-header.text-center
            strong {{identity.currentUser.firstName}}
        li
            a(href="/rating/{{identity.currentUser.username}}")
                i.fa.fa-tasks
                span Kommentaarid
                //span.label.label-success {{identity.currentUser.rating}}
        li
            a(href="/profile")
                i.fa.fa-lock
                span Profiili seaded

//li.dropdown(ng-show="identity.isAuthenticated()")
    a.dropdown-toggle(href="/#", data-toggle="dropdown")
        i.fa.fa-comments-o
        span.badge {{identity.messages.length}}
    ul.dropdown-menu
        li
            a(href="/messages")
                i.fa.fa-comments-o
                span Sõnumid


li(ng-show="identity.isAuthenticated()")
    a(href="/#",ng-click="signout()")
        i.fa.fa-unlock
li(ng-hide="identity.isAuthenticated()")
    a(href="/login")
        i.fa.fa-lock

