<!--[if !IE]>-->
script(type="text/javascript" src="/assets/js/jquery-2.1.0.min.js")
<!--<![endif]-->
<!--[if IE]>
script(type="text/javascript" src="/assets/js/jquery-1.11.0.min.js")
<![endif]-->

<!--[if !IE]>-->
script window.jQuery || document.write("<script src='/assets/js/jquery-2.1.0.min.js'>"+"<"+"/script>");
<!--<![endif]-->
<!--[if IE]>
script window.jQuery || document.write("<script src='/assets/js/jquery-1.11.0.min.js'>"+"<"+"/script>");
<![endif]-->
script(type="text/javascript" src="/assets/js/jquery-migrate-1.2.1.min.js")
//script(type="text/javascript" src="/vendor/moment/moment.js")
//script(type="text/javascript" src="/vendor/moment/lang/ru.js")
script(type="text/javascript" src="/vendor/angular/angular.js")
script(type="text/javascript" src="/vendor/angular-resource/angular-resource.js")
script(type="text/javascript" src="/vendor/angular-route/angular-route.js")
script(type="text/javascript" src="/assets/js/bootstrap.min.js")
script(type="text/javascript" src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.10.0.js")
//script(type="text/javascript" src="/vendor/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js")
//script(type="text/javascript" src="/js/bootstrap-datetimepicker.min.js")
script(type="text/javascript" src="/assets/js/bootstrap-datepicker.min.js")
//script(src="assets/js/moment.min.js")
//script(type="text/javascript" src="/assets/js/pages/form-elements.js")
<!-- page scripts -->

script(type="text/javascript" src="/assets/js/jquery-ui.min.js")
script(type="text/javascript" src="/assets/js/jquery.ui.touch-punch.min.js")
script(type="text/javascript" src="/assets/js/jquery.sparkline.min.js")
script(type="text/javascript" src="/assets/js/fullcalendar.min.js")
<!--[if lte IE 8]>
script(type="text/javascript" src="/assets/js/excanvas.min.js")
<![endif]-->
script(type="text/javascript" src="/assets/js/jquery.autosize.min.js")
script(type="text/javascript" src="/assets/js/jquery.placeholder.min.js")
//script(type="text/javascript" src="/assets/js/moment.min.js")
script(type="text/javascript" src="/vendor/moment/moment.js")
script(type="text/javascript" src="/vendor/moment/lang/ru.js")
script(type="text/javascript" src="/vendor/moment/lang/et.js")
script(type="text/javascript" src="/assets/js/daterangepicker.min.js")
script(type="text/javascript" src="/assets/js/jquery.easy-pie-chart.min.js")
script(type="text/javascript" src="/assets/js/jquery.dataTables.min.js")
script(type="text/javascript" src="/assets/js/dataTables.bootstrap.min.js")
script(type="text/javascript" src="/assets/js/raphael.min.js")
script(type="text/javascript" src="/assets/js/morris.min.js")
script(type="text/javascript" src="/assets/js/jquery-jvectormap-1.2.2.min.js")
script(type="text/javascript" src="/assets/js/uncompressed/jquery-jvectormap-world-mill-en.js")
script(type="text/javascript" src="/assets/js/uncompressed/gdp-data.js")
script(type="text/javascript" src="/assets/js/gauge.min.js")

<!-- theme scripts -->

script(type="text/javascript" src="/assets/js/custom.min.js")
script(type="text/javascript" src="/assets/js/core.min.js")

script(type="text/javascript" src="/vendor/toastr/toastr.js")

script(type="text/javascript" src="/app/app.js")
<!-- transports scripts -->
script(type="text/javascript" src="/app/index/mvTransport.js")
script(type="text/javascript" src="/app/index/mvTransportCtrl.js")
script(type="text/javascript" src="/app/index/mvTransportCUD.js")
<!-- taking scripts -->
script(type="text/javascript" src="/app/taking/mvTaking.js")
script(type="text/javascript" src="/app/taking/mvTakingCtrl.js")
script(type="text/javascript" src="/app/taking/mvTakingDetailCtrl.js")
script(type="text/javascript" src="/app/taking/mvTakingCUD.js")

<!-- message scripts -->
script(type="text/javascript" src="/app/message/mvMessage.js")
script(type="text/javascript" src="/app/message/mvMessageCtrl.js")
script(type="text/javascript" src="/app/message/mvMessageCUD.js")
script(type="text/javascript" src="/app/message/mvViewMessage.js")
<!-- wish scripts -->
script(type="text/javascript" src="/app/wish/mvWishCtrl.js")
<!-- calls scripts -->
script(type="text/javascript" src="/app/main/mvCall.js")
script(type="text/javascript" src="/app/main/mvMainCtrl.js")
script(type="text/javascript" src="/app/main/mvCallCUD.js")
<!-- role scripts -->
script(type="text/javascript" src="/app/role/mvRole.js")
script(type="text/javascript" src="/app/role/mvRoleCtrl.js")
script(type="text/javascript" src="/app/role/mvEditRoleCtrl.js")
script(type="text/javascript" src="/app/role/mvCachedRoles.js")
script(type="text/javascript" src="/app/role/mvRoleCUD.js")

<!-- group scripts -->
script(type="text/javascript" src="/app/group/mvGroup.js")
script(type="text/javascript" src="/app/group/mvGroupCtrl.js")
script(type="text/javascript" src="/app/group/mvEditGroupCtrl.js")
script(type="text/javascript" src="/app/group/mvGroupCUD.js")

script(type="text/javascript" src="/app/account/mvNavBarLoginCtrl.js")
script(type="text/javascript" src="/app/common/mvIdentity.js")
script(type="text/javascript" src="/app/common/mvNotifier.js")
script(type="text/javascript" src="/app/common/mvAuth.js")
script(type="text/javascript" src="/app/common/mvNavigationCtrl.js")
<!-- user scripts -->

script(type="text/javascript" src="/app/user/mvUser.js")
script(type="text/javascript" src="/app/user/mvUserCtrl.js")
script(type="text/javascript" src="/app/user/mvEditUserCtrl.js")
script(type="text/javascript" src="/app/user/mvUserCUD.js")

script(type="text/javascript" src="/app/account/mvSignupCtrl.js")
script(type="text/javascript" src="/app/account/mvProfileCtrl.js")
script(type="text/javascript" src="/app/admin/mvUserListCtrl.js")
script(type="text/javascript" src="/app/account/mvVertify.js")
script(type="text/javascript" src="/app/account/mvVertifyCtrl.js")
script(type="text/javascript" src="/app/account/mvVertifyCUD.js")
<!-- corse scripts -->
script(type="text/javascript" src="/app/courses/mvCourseListCtrl.js")
script(type="text/javascript" src="/app/courses/mvCourseDetailCtrl.js")
script(type="text/javascript" src="/app/courses/mvCachedCourses.js")
script(type="text/javascript" src="/app/courses/mvCour.js")
script(type="text/javascript" src="/app/courses/mvCourse.js")
script(type="text/javascript" src="/js/jquery.jplayer.min.js")
script(type="text/javascript" src="/js/picker.js")
script(type="text/javascript" src="/js/site.js")
