.alert(ng-hide="identity.isAuthenticated()")
    .alert-warning
        strong Teavitus!
        span    Kogu info vaatamiseks peate olema sisselogitud!
.row
    .col-md-6
        .panel.panel-default
            .panel-heading
                h1 {{aDirection}} - {{bDirection}}
                strong {{test(startTime)}}


            .panel-body

                .col-md-4
                    h3 Soovib peale

                .col-md-6
                    h3
                        a(href="/rating/{{username}}") {{username}}
                .col-md-4
                    h3 Istekohti
                .col-md-6
                    h3 {{seats}}
                .col-md-4
                    h3 Kauba/Pakivedu
                .col-md-6
                    h3(ng-show="package") Jah
                    h3(ng-hide="package") Ei
                .col-md-4
                    h3 Lisainfo
                .col-md-6
                    h3 {{info}}


            .panel-footer

                button.btn.btn-success Saada mail
                    i.fa.fa-envelope
                a.btn.btn-default(href="/wishes") Tagasi



