.row
    .col-md-6
        .panel.panel-default
            .panel-heading
                h2
                    strong Andmed
            .panel-body
            form.form-horizontal(name="editUserForm")
                table.table

                    tbody
                        tr
                            td Võtab peale
                            td

                                strong
                                    a(href="/rating/{{username}}") {{username}}


                        tr
                            td Väljumine
                            td {{startTime | date:'yyyy-MM-dd HH:mm:ss'}}
                        tr
                            td A suund
                            td {{aDirection}}
                        tr
                            td B suund
                            td {{bDirection}}


                        tr
                            td Lisainfo {{teen}}
                            td {{info}}

                        tr
                            td
                            td

                                a.btn.btn-default(href="/") Tagasi

