
.row
    .col-md-11
        .panel.panel-default
            .panel-heading
                h2
                    strong Uus
                    h2 soov
            .panel-body
                form.form-horizontal(name="wishForm")
                    .form-group
                        label.col-md-3.control-label
                        .col-md-1 Päev
                        .col-md-1 Kuu
                        .col-md-2 Aasta
                        .col-md-1 Tund
                        .col-md-1 Minut
                    .form-group
                        label.col-md-3.control-label(for="startTime") Väljumise aeg
                        .col-md-1
                            select.form-control(name="day",ng-model="day", ng-options="day as day for day in days")
                        .col-md-1
                            select.form-control(name="month",ng-model="month", ng-options="month as month for month in months")
                        .col-md-2
                            select.form-control(name="year",ng-model="year", ng-options="year as year for year in years")
                        .col-md-1
                            select.form-control(name="hour",ng-model="hour", ng-options="hour as hour for hour in hours")
                        .col-md-1
                            select.form-control(name="minute",ng-model="minute", ng-options="minute as minute for minute in minutes")
                    .form-group
                        label.col-md-3.control-label(for="aDirection") Lähtekoht
                        .col-md-6
                            input.form-control(name="aDirection", type="aDirection", placeholder="Alguspunkt", ng-model="aDirection", required,ng-maxlength="20")
                    .form-group
                        label.col-md-3.control-label(for="bDirection") Sihtkoht
                        .col-md-6
                            input.form-control(name="bDirection", type="text", placeholder="Lõpp-punkt", ng-model="bDirection", required,ng-maxlength="20")
                    .form-group
                        label.col-md-3.control-label(for="seats") Istekohti
                        .col-md-6
                            input.form-control(name="seats", type="text", placeholder="Sisetage arv", ng-model="seats", required,ng-maxlength="2")

                    .form-group
                        label.col-md-3.control-label(for="price") Hind
                        .col-md-6
                            input.form-control(name="price", type="price", placeholder="Hind  näiteks 10 € või 0 kui tasuta", ng-model="price",ng-maxlength="10", required)

                    .form-group
                        label.col-md-3.control-label(for="package") Saadan pakki
                        .col-md-6
                            .checkbox
                                input(type="checkbox", id="package", name="package", value="true",ng-model="package")
                                span Kui saadate ainult pakki märkige reisijate arvuks 0

                    .form-group
                            label.col-md-3.control-label(for="info") Info
                            .col-md-6
                                textarea.form-control(name="info", type="text", placeholder="Info", ng-model="info")

                    .form-group
                        .col-md-6.col-md-offset-3
                            .pull-right
                                button.btn.btn-primary(ng-click="add()", ng-disabled="wishForm.$invalid") Lisa
                                | &nbsp;
                                a.btn.btn-default(href="/") Loobu
        .panel.panel-default
            .panel-heading
                h2
                    strong Olete peal

            .panel-body
                table.table.table-hover.table-striped.table-condesed
                    thead
                        tr
                            th Vaata
                            th Väljumuse kuupäev
                            th Lähtekoht
                            th Sihtkoht
                            th Reisiate Arv
                    tbody
                        tr(ng-repeat="taking in takings | filter:searchText | orderBy:sortOrder")
                            td
                                a.btn-sm.btn-success(href="/taking/{{taking._id}}")
                                    i.fa.fa-search-plus
                            td {{taking.startTime | date:'yyyy-MM-dd HH:mm:ss'}}
                            td {{taking.aDirection}}
                            td {{taking.bDirection}}
                            td {{taking.seatPlace}}


        .panel.panel-default
            .panel-heading
                h2
                    strong Soovin
                    h2 peale

            .panel-body
                table.table.table-hover.table-striped.table-condesed
                    thead
                        tr
                            th Vaata
                            th Väljumuse kuupäev
                            th Lähtekoht
                            th Sihtkoht

                            th Reisiate Arv
                            th Hind
                            th Kauba/Pakivedu


                    tbody
                        tr(ng-repeat="wish in wishes | filter:searchText | orderBy:sortOrder")
                            td
                                a.btn.btn-success(href="/wishes/{{wish._id}}")
                                    i.fa.fa-search-plus
                            td {{wish.startTime | date:'yyyy-MM-dd HH:mm:ss'}}
                            td {{wish.aDirection}}
                            td {{wish.bDirection}}
                            td
                                span.label.label-primary {{wish.seats}}
                            td {{wish.price}}

                            td
                                span(ng-show="wish.package")
                                    i.fa.fa-truck
                                    i.fa.fa-dropbox
                            td
                                span.label.label-warning(ng-show="wish.canceled") Lõpetatud
                                span.label.label-success(ng-show="!wish.canceled") Atkiivne
                            td
                                //a.btn.btn-info(href="/taking/edit/{{taking._id}}")
                                    i.fa.fa-edit
                                a.btn.btn-warning(ng-click="forceEnd(wish)",ng-show="!wish.canceled")
                                    i.fa.fa-lock
                                        strong  Lõpeta

                                a.btn.btn-success(ng-click="forceStart(wish)",ng-show="wish.canceled")
                                    i.fa.fa-unlock
                                        strong  Aktiveeri
                                a.btn.btn-danger(ng-click="delete(wish)")
                                    i.fa.fa-trash-o
                                        strong  Kustuta
                            