ul.nav.nav-tabs(role="tablist")
    li
        a(href="/") Võtan peale

    li.active
        a(href="/wishes") Soovin peale
.panel.panel-default
    .pull-right
        form.form-inline
            .form-group
                input.form-control(ng-model="searchText", placeholder="Filter")
    .panel-body
        table.table.table-hover.table-condesed
            thead
                tr
                    th Vaata
                    th.sorting(ng-click="sort_by('username')") Kasutaja

                    th.sorting(ng-click="predicate = 'startTime'; reverse=!reverse") Väljumine
                    th.sorting(ng-click="sort_by('aDirection')") Lähtekoht
                    th.sorting(ng-click="sort_by('Direction')") Suund
                    th Reisiate Arv
                    th Kauba/Pakivedu
                    th Hind

            tbody
                tr(ng-repeat="transport in customfiltered = (transports| filter:searchText) | startFrom:(bigCurrentPage-1)*itemsPerPage | limitTo:itemsPerPage | orderBy:predicate:reverse" ,ng-click="get(transport.filename)",class="{{selected}}")
                    td
                        a.btn-sm.btn-success(href="/wishes/{{transport._id}}")
                            i.fa.fa-search-plus
                    td
                        strong
                            a(href="/rating/{{transport.username}}") {{transport.username}}
                    td {{transport.aDirection}}
                    td {{transport.Direction}}

                    //td
                        span.label.label-warning(ng-show="transport.canceled") Lõpetatud
                        span.label.label-success(ng-show="!transport.canceled") Atkiivne
                    td {{test(transport.startTime)}}
                        //span.small  {{transport.startTime | date:'yyyy-MM-dd'}}

                    td
                        span.label.label-primary {{transport.seats}}


                    td
                        span(ng-show="transport.package")
                            i.fa.fa-truck
                            i.fa.fa-dropbox
                    td {{transport.price}} €

        pagination(total-items="customfiltered.length",items-per-page="itemsPerPage", page="bigCurrentPage", max-size="maxSize", class="pagination-sm", boundary-links="true", rotate="false", num-pages="numPages",first-text="Esimene",last-text="Viimane",previous-text="Eelmine",next-text="Järgmine")
